<div class="favorite-movies">
  <h2>Film Guardati</h2>

  <div *ngIf="watchedMovies.length === 0">
    <p>Non hai ancora guardato nessun film.</p>
  </div>

  <div *ngIf="watchedMovies.length > 0" class="movie-grid">
    <div *ngFor="let movie of watchedMovies" class="movie-item">
      <span class="remove-icon" (click)="removeFromWatched(movie.id)">-</span>
      <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" alt="{{ movie.title }}">
      <h3>{{ movie.title }}</h3>
    </div>
  </div>
</div>
