
<div [ngStyle]="{'background-image': 'url(' + backdropUrl + ')'}"  class="top-info">
  
  <div class="top-info__content">
    <h1 [ngStyle]="{'font-size': getFontSize(title)}" class="movie-title"> {{ title }} </h1>
    <p>{{ tagline }}</p>
    <p>{{ overview }}</p>
    <div>
      <p>Rating: {{ vote_average }}</p>
      <button (click)="toggleVisto()">
      {{ visto ? '✅ Già visto' : '👀 Segna come visto' }}
    </button>
    <button (click)="toggleFavorite()">
      {{ favorite ? '✅ Preferiti' : 'Aggiungi ai preferiti' }}
    </button>
    </div>
</div>
