/*Corpo principare*/

 .destination_image {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }
/* Lista */
 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 li {
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 5%;
 }

li p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  margin-top: 5%;
  font-size: large;
 }

li img {
  max-height: 700px;
  width: auto;
  object-fit: contain;
  max-width: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

/* Link stile */
 li a {
  overflow: hidden;
  display: block;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
 }

 li a:hover {
   transform: scale(1.05);
 }

