/* You can add global styles to this file, and also import other style files */

/* Imposta lo sfondo globale */
body {
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
}

/* Assicurati che l'elemento html occupi l'intera altezza */
html {
  height: 100%;
}

h1, h2 {
  font-family: 'Bebas Neue', sans-serif;
}

